.detail{
  padding: 40px 40px 40px 160px;
}

.detail img{
  width: 230px;
  height: 345px;
  margin-bottom: 40px;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
}